@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100;1,500&family=Orbitron&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* home page */

h2 {
    display: block;
    text-align: center;
    position: relative;
    margin: 10px 0;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 1rem;
    font-family: 'Orbitron', sans-serif;
}


#time {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 1px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0001);
}

#time span {
    font-family: 'Orbitron', sans-serif;
    position: relative;
    display: block;
    width: 280px;
    height: 100px;
    background-color: #354259;
    color: #16cc86;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    z-index: 10;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
    letter-spacing: 0.1rem;
    border: 4px solid #000;
    border-radius: 15px;
}

#time span:hover {
    cursor: pointer;
    background-color: #1A1A40;
    color: lavenderblush;
}

#select {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 80px;
}

#sllt {
    background-image: linear-gradient(135deg, #1f4037 10%, #99f2c8 100%);
    padding-bottom: 40px;
}

#crs {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;

}

#am {
    color: #0cf314;
}

#am:hover {
    color: #dffb08;
}

#slt_ {
    color: lavenderblush;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: x-large;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    transition: 0.5s ease;
    cursor: pointer;
}

#slt_:hover {
    font-size: xx-large;
}

#stck_bg {
    background-image: linear-gradient(135deg, #1f4037 10%, #99f2c8 100%);
}

/* crypto-page */

.red {
    color: red;
}

.green {
    color: green;
}

#input-box {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;

}

input {
    background-color: white;
    width: 30%;
    border: 2px solid rgb(1, 1, 39);
    border-radius: 5px;
    padding: 10px;
    outline: none;
    color: rgb(1, 1, 39);
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500 bold;
    text-transform: uppercase;
}

::placeholder {
    pointer-events: none;
    text-transform: uppercase;
    font-size: 1em;
    transition: 0.5s;
    position: absolute;
    color: grey;
}

input:focus::placeholder {
    color: #00dfc4;
    transform: translateX(10px) translateY(-22px);
    font-size: 0.65em;
    padding: 0 14px;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
    letter-spacing: 0.1rem;
}

input:focus {
    border: 1px solid #00dfc4;
}

#cards {
    display: flex;
}

#indstt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
    column-gap: 30px;
    width: 100%;
}

h3 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.5rem;
    cursor: pointer;
    transition: 0.5s ease;
    padding-top: 30px;
}

h3:hover {
    font-size: 1.5rem;
}

#headd{
    color: whitesmoke;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    padding-bottom: 100px;
    font-family: 'Orbitron', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.5rem;
    cursor: pointer;
    transition: 0.5s ease;
}

h1:hover {
    font-size: 1.5rem;
}

#no {
    color: lavenderblush;
    margin: 10%;
}

#st {
    color: wheat;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
}

#m {
    color: burlywood;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
}

#ma {
    color: #a908f4;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    transition: 0.5s;
}

#st:hover {
    color: #f70a0a;
    transition: 0.5s;
    cursor: pointer;
}

#m:hover {
    font-size: 2rem;
    color: #0bf3ff;
    cursor: pointer;
}

#ma:hover {
    color: #76f557;
    transition: 0.5s;
    cursor: pointer;
}

.blue {
    color: blue;
}

.lite {
    color: lightgreen;
}

.voilet {
    color: violet;
}

/* crypto */

#tab_crypto {
    margin: auto;
    margin-top: 100px;
    width: 80%;
    text-align: center;
    overflow: auto;
}

th {
    font-size: 20px;
}

.header {
    color: white;
}

td>div {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.image img {
    width: 40px;
    height: 40px;
}

.crypto-page {
    background-image: linear-gradient(135deg, #1f4037 10%, #99f2c8 100%);
}

/* stocks */

#input-box1 {
    padding-bottom: 80px;
    position: relative;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

#tab_inter {
    text-align: center;
}

#inter_hd {
    color: lavenderblush;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 80px;
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    transition: 0.5s ease;
}

#inter_hd:hover {
    font-size: xx-large;
}

#inter-bg {
    background-color: #040418;
}

.bd {
    color: antiquewhite;
}

.thd {
    color: white;
}
td{
    transition: 0.5s ease-out;
    cursor: pointer;
}
td:hover{
    padding: 25px;
}


/* Error Handling */

 .err{
    color: red;
    text-align: center;
    font-size: medium;
    letter-spacing: 0.5rem;
    padding-bottom: 50px;
} 